[2019-05-05 07:28] merlintang opened #4 "Change repo name from xgboost to xgboost-operator"
As we discussed in the [proposal](https://github.com/kubeflow/community/issues/247), the repo name would be xgboost-operator. thus, @jlewi   can you revise this.

[2019-05-11 17:00] ellis-bigelow opened #7 "XGBoost Serving?"
Hey All,
There's a group of folks working on XGBoost serving (i.e., serving from a static .bst or custom built container) over at https://github.com/kubeflow/kfserving.

I noticed that the proposal mentioned "deploy" and "predict".

I see prediction as two areas:
1. batch prediction (map function over a set of inputs)
2. online prediction (request/response style prediction)

Is there any room for

[2019-05-11 19:21] terrytangyuan commented on #7
Hi @ellis-bigelow, thanks for reaching out! We’d love to collaborate and reuse the serving component. What’s the progress of that so far? Please share any references to design docs and demos if you have any.

[2019-05-11 19:22] terrytangyuan commented on #4
@jlewi Could you rename the repo when you get a chance?

[2019-05-11 20:58] ellis-bigelow commented on #7
There are extensive docs in our repo. Cone take a look. We also have a
weekly meeting on Weds if you'd like to join.

*From: *Yuan (Terry) Tang <notifications@github.com>
*Date: *Sat, May 11, 2019, 12:21 PM
*To: *kubeflow/xgboost
*Cc: *Ellis Bigelow, Mention

Hi @ellis-bigelow <https://github.com/ellis-bigelow>, thanks for reaching

[2019-05-13 17:02] jlewi commented on #4
Name has been changed.
https://github.com/kubeflow/xgboost-operator

[2019-05-13 17:02] #4 closed

[2019-05-15 13:09] terrytangyuan opened #9 "Travis CI setup"
TODOs:

- [x] Activate this repo on Travis CI (@jlewi could you help activating it?)
- [x] Add Travis configuration file

[2019-05-15 15:12] merlintang commented on #9
@terrytangyuan thanks @jlewi

[2019-05-16 23:13] #9 closed

[2019-05-16 23:32] merlintang commented on #7
@ellis-bigelow For this repo, we focus on the batch prediction. But of course, we would like to use the service model for online prediction.

[2019-05-16 23:39] ellis-bigelow commented on #7
Makes sense!

[2019-05-21 21:36] merlintang opened #13 "Go through kubebuilder or K8s native API"
Hi All

When I implement the XGB operator, I am wondering which way is better to implement the interface of kubeflow common?

I found Pytorch Operator or TF operator do not use KubeBuilder. thus, we do not use KubeBuilder for XGB operator similar as the Pytorch and TF operator?

thanks

Mingjie

[2019-05-21 21:37] merlintang commented on #13
@terrytangyuan @johnugeorge can you give some suggestions ?

[2019-05-22 01:11] terrytangyuan commented on #13
We discussed using kubebuilder here: https://github.com/kubeflow/common/issues/7. It’s a good idea but there will be separate efforts to rewrite all the logic and tests so maybe we should do it later.

[2019-05-22 21:01] richardsliu commented on #13
We do not use Kubebuilder for TFJob and PytorchJob because those are already written, and rewriting all the logic will take a lot of time with little benefit.

But for new operators, using Kubebuilder may save a lot of effort. I would be interested in seeing how this works with the common interface. If it works well, we can publish a tutorial on how to build your own Kubeflow operator in simple st

[2019-05-22 21:03] merlintang commented on #13
We have agreed to move on xgb operator based on kubebuilder + kubeflow common. Thanks for your advice @terrytangyuan  @richardsliu

[2019-05-22 21:03] #13 closed

[2019-05-24 00:28] terrytangyuan commented on #7
Closing this for now. Let's create separate issues if further discussion on specific issues is needed.

[2019-05-24 00:28] #7 closed

[2019-07-03 03:24] AmberCheng opened #30 "Only can run with WORLD_SIZE = 2"
hi,
I have tried the distributed example(xgboost-dist-iris) on k8s cluster. I have set MASTER_ADDR, MASTER_PORT, RANK, and WOLRD_SIZE. As I set WOLRD_SIZE=2; I can get the distribute demo run and finished with one Master and one worker. But when I set  WOLRD_SIZE=3, I can not run it with one Master and two workers. They seem to wait for each other, stop at log  'starting to train xgboost at node w

[2019-07-03 07:05] merlintang commented on #30
Hi, do you change the yaml file https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/xgboostjob_v1alpha1_iris_train.yaml#L30. you need to change this to your defined work_size. meanwhile, you do not need to modify this parameter in your application code, the controller would generate this env for you based on your yaml file.

[2019-07-03 07:36] AmberCheng commented on #30
I don't have set the work_size..Do you mean world_size?

[2019-07-03 17:28] merlintang commented on #30
yes, WOLRD_SIZE. you do not need to change WOLRD_SIZE. this is provided by controller.

[2019-07-10 16:54] cfregly opened #31 "Is there a simple way to install the XGBoost Operator without installing Go and building from source?"
current install is a bit complex for the masses.

[2019-07-10 17:28] terrytangyuan commented on #31
We can push [the docker image](https://github.com/kubeflow/xgboost-operator/blob/master/Dockerfile) to Dockerhub. And then you can just deploy the kubebuilder manager, crds and rbac [here](https://github.com/kubeflow/xgboost-operator/tree/master/config) to your cluster with `kubectl`. Would that be sufficient?

[2019-07-17 08:36] #30 closed

[2019-07-19 17:54] cfregly commented on #31
yes, that would lower the barrier to entry for this operator.

[2019-07-19 18:10] cfregly commented on #31
also, the current yaml creates a `system` namespace.  this is very generic.  can you rename to `xgboost-system`?

[2019-07-22 01:17] jlewi commented on #31
See also kubeflow/manifests#229 to add a kustomize manifest.

A kustomize manifest would allow it to be easily installed as part of Kubeflow deployments.
It should be fairly straightforward to turn your YAML manifests into a kustomize package.

To @cfregly's point the current pattern in Kubeflow is that all shared components (e.g. job oeprators) are installed in the "kubeflow" namespace.

Users wo

[2019-08-29 06:39] RudraprakashR opened #32 "XGBoost example(xgboost-dist) not working"
Hi,
When I try to execute the xgboost-dist example on kubernetes, it give me the following error:
https://github.com/kubeflow/xgboost-operator/tree/master/config/samples/xgboost-dist

When train job is run :
[code]

also sometimes it gives the following error:

[code]

However this is very sporadic this job goes to completion state but sometime it throws the above said error.

When predict job is

[2019-08-29 06:45] merlintang commented on #32
@RudraprakashR thanks for your testing on the xgboost operator. as we found from this log, the training is finished. the current issue is that the way to store the trained model. currently, we only support the train model to be stored at [OSS[(https://www.alibabacloud.com/product/oss). thus, you need to specific the oss storage parameter in the https://github.com/kubeflow/xgboost-operator/blob/mas

[2019-08-29 09:46] hemantha-kumara commented on #32
@merlintang  is there any way we can configure other storage?

[2019-08-29 12:32] merlintang commented on #32
yes, we can set up the s3 as the storage via the s3 bucket. you can add the
s3 storage config at here:
https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/utils.py#L139
if
you can provide the s3 bucket related information, then the model could be
stored.

On Thu, Aug 29, 2019 at 5:46 PM Hemantha kumara M S <
notifications@github.com> wrote:

[2019-08-29 12:33] terrytangyuan commented on #32
@merlintang I think we can dump model to a local path where that path is mounted from a shared storage.

[2019-08-29 12:44] merlintang commented on #32
yes, it is good point.

On Thu, Aug 29, 2019 at 8:33 PM Yuan Tang <notifications@github.com> wrote:

[2019-09-03 09:55] lnmohankumar opened #33 "XGBoost-Spark killing SparkContext on Task Failure"
Hi Team,

While running Machine Learning training models using xgboost in cluster and sparkContaxt is always getting shutdown after encountering any training task failure exception. So every time we need to restart the cluster to bring it back to normal state.

After looking for the root cause We found the code which causing the sparkcontext to close. I am not sure why sparkContext has to shutdown

[2019-09-03 10:01] lnmohankumar commented on #33
closing the issue as I am tracking it in xgboost.

[2019-09-03 10:01] #33 closed

[2019-09-11 09:00] RudraprakashR commented on #32
The example works fine now.
I have updated the parameter list by
 --oss_param=endpoint:http://oss-ap-south-1.aliyuncs.com,access_id:XXXXXXXXXXX,access_key:XXXXXXXXXXX,access_bucket:XXXXXXXXXXX

where XXXXXXXXXXX can be replaced with actual information

Also mentioned the same in README.md.

Thank you for the support @merlintang @terrytangyuan

[2019-09-11 09:00] #32 closed

[2019-10-08 18:40] hemantha-kumara opened #38 "Add XGBoostJob examples to e2e"
Add XGBoostJob examples to e2e

[2019-10-09 15:55] #31 closed

[2019-11-23 00:57] cyzhangchenya opened #40 "Support for xgboost-jvm-package with Spark on Kubeflow"
As mentioned on the homepage, "Distributed XGBoost job is trained by synchronizing different worker status via tne Rabit of XGBoost", to double confirm:
--> The xgboost-operator is not leveraging xgboost-jvm-package with Spark for distributed training in this case.
--> There is no requirement of supporting Spark on the Kubernetes cluster used (if we use a customized one).

btw. Is there any plan o

[2019-11-28 09:46] merlintang commented on #40
--> The xgboost-operator is not leveraging xgboost-jvm-package with Spark for distributed training in this case.
--> There is no requirement of supporting Spark on the Kubernetes cluster used (if we use a customized one).

this is not related to spark, since the distributed training is based on rabit rather than spark.

xgboost-jvm-package is based on spark, thus you can use spark over k8s to run

[2020-02-10 06:01] Rajneesh-Tiwari opened #41 "XgB operator distributed training?"
How do we understand if the training is distributed across nodes. Right now, I am doing experiment on IRIS dataset, and the worker logs are all empty.  Training logs show the right stuff, meaning training etc, however, my intention is to use the worker nodes as well to train.

Any help on this matter is appreciated.

[2020-02-10 09:13] merlintang commented on #41
hi @Rajneesh-Tiwari , the training is working via distributed way, you can notice that each worker only load part of iris data for his pod.

[2020-02-10 09:13] merlintang commented on #40
close this one.

[2020-02-10 09:30] Rajneesh-Tiwari commented on #41
Many thanks for the reply @merlintang. I am streamlining my query below:

How the data is distributed among the worker nodes? Is it master fetching the full data and then its partitioned among workers or data is fetched by the workers separately?

In our case, data is distributed in HDFS. So we can not load whole data in master to distribute within workers (if that is indeed the case).  Any though

[2020-02-10 13:24] #40 closed

[2020-02-11 02:40] merlintang commented on #41
you can assign each worker to read part of hdfs data. for example, each
worker has an index like rank, then, this rank can be used to fetch the
data. For HDFS, it is partitioned via the directory, then, each worker can
read subdirectory data independently

On Mon, Feb 10, 2020 at 5:30 PM Rajneesh Tiwari <notifications@github.com>
wrote:

[2020-02-11 12:16] Rajneesh-Tiwari commented on #41
@merlintang Thank you, that helps. I will close this thread for now.

[2020-02-11 12:16] #41 closed

[2020-02-24 10:03] marrrcin opened #42 "How to run distributed training from Kubeflow Pipelines SDK?"
The example linked in `README` https://github.com/kubeflow/xgboost-operator/tree/master/config/samples/xgboost-dist shows that spawning distributed training job requires running `kubectl`. I want to run distributed XGBoost training as a part of bigger Kubeflow pipeline, how to achieve this? Is there a possibility to spawn distributed job from the Python code itself or from the Kubeflow Pipelines S

[2020-02-24 15:04] terrytangyuan commented on #42
I think you can run XGBoostJob as part of Kubeflow Pipelines similar to other Kubeflow operators but I am not familiar enough with Kubeflow Pipelines to be sure. Try it out and let us know if you encounter any issues.

[2020-04-03 18:21] terrytangyuan opened #43 "Add roadmap document for xgboost-operator"
Per @abhi-g's comment in https://github.com/kubeflow/internal-acls/pull/234#issuecomment-608452136, let's add a roadmap doc as part of our next planning meeting so others who might be interested can contribute as well.

cc @merlintang @ywskycn @sperlingxx @abhi-g @johnugeorge @richardsliu

[2020-04-13 13:58] terrytangyuan opened #44 "Graduate XGBoost Operator to v1"
This issue tracks the progress of graduating XGBoost Operator to v1. Please check out the [application requirements](https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md) for details. Each item in the table below includes a check box that marks the completion of that particular requirement.

## Requirements

### Configuration and deployment

| Description | Cate

[2020-04-13 19:16] merlintang commented on #43
From my point of view,
1. provide python SDK for distributed dataset loader for easily starting distributed training. now it is not easy for end-users to start the training.
2. support Light GBM or other tree-based approaches for distributed tree training
3. compact with kubeflow common updating.

[2020-05-09 05:57] merlintang opened #54 "Add E2E tests"
.  E2E tests should be run on presubmit, postsubmit, and periodically
.  Tests should cover deployment (kustomize packages) as well as the application functionality

[2020-05-09 06:00] merlintang opened #55 "Perform scalability and load testing for v1 controller"
* Good reference that summarizes scalability testing for tf-operator here
* We may be able to leverage https://github.com/kubeflow/kubebench

[2020-05-09 06:01] merlintang commented on #54
part of https://github.com/kubeflow/xgboost-operator/issues/44

[2020-05-09 06:02] merlintang commented on #55
part of https://github.com/kubeflow/xgboost-operator/issues/44

[2020-05-09 06:50] xfate123 commented on #54
/assign

[2020-05-09 06:53] XinkaiWang515 commented on #55
/assign

[2020-05-09 18:00] merlintang opened #56 "Test LightGBM based on XGboost Operator"
LightGBM is also popular for the boosting tree model, thus, it is natural to demo or test how LGBM to run over XGboost Operator.

[2020-05-09 18:02] merlintang commented on #56
@XinkaiWang515 and @ xfate123

[2020-05-09 18:29] xfate123 commented on #56
/assign

[2020-05-09 18:39] XinkaiWang515 commented on #56
/assign

[2020-05-09 20:55] xfate123 commented on #54
During the E2E test, do we need to display the client's waiting  time or progress for the job ? If we do, I think we probably need to write a clientset file.

[2020-05-09 20:57] merlintang opened #57 "Add the Installation part in the homepage readme"
For beginner to start the xgboost operator easily, we would add the introduction in the begin of the readme, like the installation guide in [MPI-operator](https://github.com/kubeflow/mpi-operator#installation)

[2020-05-09 20:59] merlintang commented on #57
/xfate123

[2020-05-09 21:00] merlintang commented on #57
@xfate123

[2020-05-09 21:03] xfate123 commented on #57
/assign

[2020-05-09 21:03] merlintang opened #58 "Provide the docker image in the dockerhub"
Build the docker image and update the docker image in the reader me.

FYI:
https://github.com/kubeflow/mpi-operator#docker-images

[2020-05-09 21:03] merlintang commented on #58
@XinkaiWang515

[2020-05-09 21:20] merlintang commented on #54
At the beginning, we can leave this to a todo list if it is only used to
observation.

On Sat, May 9, 2020 at 1:56 PM xfate123 <notifications@github.com> wrote:

[2020-05-09 21:41] XinkaiWang515 commented on #58
/assign

[2020-05-09 22:02] xfate123 commented on #57
In order to let beginner to start xgboost operator easily by using git clone, do we need to create a xgoost-operator.yaml file to add crd config, cluster-role config, cluster-role-binding config ,service account config and deployment config all together?

[2020-05-09 23:09] merlintang commented on #57
yes, it seems a good idea that we have everything in one yaml file for
simplicity.

On Sat, May 9, 2020 at 3:02 PM xfate123 <notifications@github.com> wrote:

[2020-05-10 03:56] merlintang commented on #57
close this one.

[2020-05-10 03:56] #57 closed

[2020-05-10 04:03] merlintang opened #60 "app.kubernetes.io labels on every resource"
Part of https://github.com/kubeflow/xgboost-operator/issues/44 for graduation

Every resource that is part of the application should include the labels recommended by Kubernetes, currently:
app.kubernetes.io/name
app.kubernetes.io/instance
app.kubernetes.io/version
app.kubernetes.io/component
app.kubernetes.io/part-of
app.kubernetes.io/managed-by

[2020-05-10 04:04] merlintang commented on #60
@xfate123

[2020-05-10 04:07] xfate123 commented on #60
/assign

[2020-05-10 20:12] terrytangyuan commented on #58
It’s already automatically published to https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/xgboost-operator?gcrImageListsize=30 so I don’t think it’s necessary to publish on Dockerhub.

[2020-05-10 20:15] terrytangyuan commented on #56
Hmm this is XGBoost operator though. We should probably aim to provide better supporting experience for XGBoost users. I don’t think LightGBM would need to be supported here.

[2020-05-10 20:16] terrytangyuan commented on #60
I think this is already done but please double check.

[2020-05-10 20:43] merlintang commented on #56
Yes, I totally agree that we need to provide better user experience for
XGBoost. For example, better Python SDK.

we can keep in mind that XGboost operator could be for any boosting tree
related algorithm. Now, more and more groups are using LGBM. We can leave
this into minor priority.

On Sun, May 10, 2020 at 1:15 PM Yuan Tang <notifications@github.com> wrote:

[2020-05-11 02:15] merlintang commented on #60
en it seems this is fixed. can we update the graduate PR .s.t this point is fixed. https://github.com/kubeflow/xgboost-operator/issues/44

[2020-05-11 02:18] merlintang commented on #58
ok, let me close this one.

[2020-05-11 02:18] #58 closed

[2020-05-11 02:18] merlintang commented on #56
Leave this for further work.

[2020-05-11 02:19] merlintang commented on #43
For the LGBM support, we leave this a todo work. https://github.com/kubeflow/xgboost-operator/issues/56

[2020-05-11 02:23] terrytangyuan commented on #60
/assign

[2020-05-11 12:44] terrytangyuan commented on #60
Done

[2020-05-11 12:44] #60 closed

[2020-05-13 21:42] Jeffwan opened #67 "Xgboostjob operator is listenning unrelated pods"
Following pods are unrelated to xgboost job but we can see controller actually listen events from them. This should be optimized to listen to resources with ownerReference of xgboost CRD

[code]

[2020-05-13 21:43] Jeffwan commented on #67
I can file a PR to fix this issue

[2020-05-13 22:11] merlintang commented on #67
thanks Jianxin

[2020-05-13 22:37] #67 closed

[2020-05-14 00:44] Jeffwan opened #71 "presubmit build have one extra argument"
[code]

In build_image.sh scripts, we only consume two arguments.
https://github.com/kubeflow/xgboost-operator/blob/78f8cf50bb943247e038a8feb5a9f7e47d810d65/build_image.sh#L10-L12

If we add extra argument, it will `v1.0` will be assigned which may brings problems.  I meet this problem working on https://github.com/kubeflow/xgboost-operator/pull/70

At the beginning, I use `TIMEOUT=${3-:30m}` then

[2020-05-14 01:15] Jeffwan opened #72 "Multi-version support in xgboost-operator"
Currently, xgboost uses `v1alpha1` API and it has separate folder https://github.com/kubeflow/xgboost-operator/tree/master/pkg/apis/xgboostjob/v1alpha1

However, controller folder doesn't have multi-version at the beginning,  https://github.com/kubeflow/xgboost-operator/tree/master/pkg/controller has one controller implementation.

In order to upgrade to v1 and use latest `kubeflow/common`, what's

[2020-05-14 01:36] merlintang commented on #72
I check the TF-operator, it supports multiple version controller. https://github.com/kubeflow/tf-operator/tree/master/pkg. thus, if it is not too many works to do, we can implement the v1 version controller

[2020-05-14 01:54] terrytangyuan commented on #72
Yes we should support multi version controllers which other operators are already doing.

Maybe I can cut a v0.1.0 release first and then we can fork a v1 controller from the existing v1alpha1 controller?

[2020-05-14 02:11] merlintang commented on #72
yes, cut the release is good.

[2020-05-14 04:35] Jeffwan commented on #72
Yeah, cut a release will help, since project will have different folder for difference version, it's ok and we can still patch v1alpha1 version while working on v1 graduation.

So the plan is to graduate from v1alpha1 to v1 directly, no need to have v1beta, right?

[2020-05-14 04:56] merlintang commented on #72
I think so.

On Wed, May 13, 2020 at 9:35 PM Jiaxin Shan <notifications@github.com>
wrote:

[2020-05-14 12:59] terrytangyuan commented on #72
Exactly.

Yes.

[2020-05-14 13:03] terrytangyuan commented on #72
I just cut a release here: https://github.com/kubeflow/xgboost-operator/releases/tag/v0.1.0

This includes your recent fix on logs but excludes the bump of k8s and controller runtime version.

[2020-05-15 01:23] Jeffwan opened #75 "Failed to build clientset config in local mode"
`there is an error for the input config` comes from
https://github.com/kubeflow/xgboost-operator/blob/8a87df2ae33aa8a6b7939384bf600f6bf4d01321/pkg/controller/xgboostjob/xgboostjob_controller.go#L95

It declares a new kcfg and this value is not assigned to variable outside.

[code]

I will pick it up if no one work on it until end of Friday.

[2020-05-15 01:27] Jeffwan opened #76 "xgboostjob_v1alpha1_iris_train example doesn't work on master"
I tested against changes on master and example doesn't work. I even tried version on `Commits on Oct 9, 2019`. It doesn't work for me. Can someone help verify?

Apply examples.
[code]

[code]

Logs:
[code]

[2020-05-15 04:40] merlintang commented on #76
maybe you need to use the local model

[2020-05-15 04:41] merlintang commented on #75
yes, please try this, Thanks Jeff

[2020-05-15 06:13] Jeffwan opened #77 "Can not distinguish pods/service creation events from logs"
[code]

https://github.com/kubeflow/xgboost-operator/blob/5f016324147205203670fa3fb46967afa0740756/pkg/controller/xgboostjob/expectation.go#L63

The problem is in the code, we didn't differentiate pod or service concept object, `create object` is not that clear. We need a minor improvement on the logs.

[2020-05-15 06:18] Jeffwan opened #78 "Expectation is incorrectly configured"
We use `GenExpectationPodsKey` in both `onDependentCreateFunc` and `onDependentDeleteFunc`.

https://github.com/kubeflow/xgboost-operator/blob/5f016324147205203670fa3fb46967afa0740756/pkg/controller/xgboostjob/expectation.go#L65

https://github.com/kubeflow/xgboost-operator/blob/5f016324147205203670fa3fb46967afa0740756/pkg/controller/xgboostjob/expectation.go#L89

However, PodWatch and ServiceWatc

[2020-05-15 06:18] Jeffwan commented on #78
`GenExpectationServicesKey` should be used for services events.

[2020-05-15 12:50] terrytangyuan commented on #76
Looks like it fails to parse OSS config params and you don't have OSS configured properly. Perhaps you want to use https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/xgboostjob_v1alpha1_iris_train_local.yaml instead which trains the model locally.

[2020-05-15 18:09] #78 closed

[2020-05-16 23:17] Jeffwan commented on #72
If anyone is interested in the migration, please leave a comment. Otherwise, I will pick it up.

[2020-05-18 00:41] terrytangyuan commented on #72
@Jeffwan I can help set up the folder structures and skeleton code of the v1 controller and then everyone in the community who are interested can work together on maturing it.

[2020-05-18 17:07] #72 closed

[2020-05-18 18:18] Jeffwan opened #83 "Issues on kubeflow/common migration"
xgboost-operator is a little bit different from other projects.

1. v1alpha1 is built with kubebuilder. It uses 201906 version of kubeflow/common
2. In v1, we plan to upgrade kubeflow/common to latest version which is not compatible with the version used in v1alpha1.

That means if we probably need to delete v1alpha1 or migrate kubeflow/common to both folders which is still breaking change.

@merl

[2020-05-18 20:12] terrytangyuan commented on #83
I think it's fine to delete v1alpha1 here if that's something we have to do to upgrade. We had a release for v1alpha1 so it should be okay to delete.

[2020-05-18 22:03] Jeffwan commented on #83
sounds good.

[2020-05-19 00:05] merlintang commented on #83
me too

On Mon, May 18, 2020 at 3:03 PM Jiaxin Shan <notifications@github.com>
wrote:

[2020-06-03 13:33] terrytangyuan opened #89 "Set up auto update for image tag in manifests"
Some context: https://github.com/kubeflow/xgboost-operator/pull/88#issuecomment-637908990

The XGBoost operator's manifests in kubeflow/manifests should be automatically updated with newly built images in GCP.

Reference: https://github.com/kubeflow/testing/blob/master/apps-cd/applications.yaml

[2020-06-03 15:23] merlintang commented on #83
@Jeffwan hi jeff, does this migration finish? @xfate123 can you test on the migration based on the given example ?

[2020-06-03 16:04] xfate123 commented on #83
@merlintang For sure, my pleasure

[2020-06-08 18:49] yantriks-edi-bice opened #91 "xgboost-operator selector does not match template labels"
I tried to install xgboost-operator in my GCP kubeflow cluster (version 1.0.2 but possibly not fully)

YNTKLLC-EDI:xgboost-operator edibice$ kubectl kustomize base | kubectl apply -f -
customresourcedefinition.apiextensions.k8s.io/xgboostjobs.xgboostjob.kubeflow.org created
serviceaccount/xgboost-operator-service-account created
clusterrole.rbac.authorization.k8s.io/xgboost-operator-cluster-role c

[2020-06-08 19:20] yantriks-edi-bice commented on #91
Following fixed the issue

diff --git a/xgboost-job/xgboost-operator/base/deployment.yaml b/xgboost-job/xgboost-operator/base/deployment.yaml
index 44d0dd3..02b1a59 100644
--- a/xgboost-job/xgboost-operator/base/deployment.yaml
+++ b/xgboost-job/xgboost-operator/base/deployment.yaml
@@ -6,7 +6,7 @@ spec:
   replicas: 1
   selector:
     matchLabels:
-      name: xgboost-operator
+      app: xgboos

[2020-06-08 21:29] merlintang commented on #91
thanks @yantriks-edi-bice can you send a PR to fix this ? I am so glad the merge this.

[2020-06-12 11:00] runzhliu opened #92 "xgboostjob_v1alpha1_iris_train_local example failed with XGBoostJob v1"
[The v1alpha1 example](https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/xgboostjob_v1alpha1_iris_train_local.yaml) failed although I change the `apiVersion` from `xgboostjob.kubeflow.org/v1alpha1` to `xgboostjob.kubeflow.org/v1`.
Is there any available v1 example? :)

[code]

[2020-06-12 15:45] pingsutw commented on #89
/assign

[2020-06-16 19:31] xfate123 commented on #91
@merlintang  I have already sent a PR for this in Kubeflow/manifest repository couple 14 days ago, but have been approved yet

[2020-06-16 19:53] terrytangyuan commented on #91
Thanks. @xfate123 I just approved it. Next time please tag me otherwise it's easy to miss.

[2020-06-16 20:30] xfate123 commented on #91
@terrytangyuan Appreciate it. I will cc you for sure next time. Thank you so much

[2020-06-16 20:53] terrytangyuan commented on #91
Fixed via https://github.com/kubeflow/manifests/pull/1223

[2020-06-16 20:53] #91 closed

[2020-06-16 22:11] xfate123 opened #93 "Cannot start xgboost-operator container"
I am trying to deploy operator by kustomize. But looks like the pod is not running, and the status is CrashLoopBackOff.
Then look into detail by using describe command, I have following message:
Last State:     Terminated
      Reason:       ContainerCannotRun
      Message:      OCI runtime create failed: container_linux.go:349: starting container process caused "exec: \"/root/manager\": stat /ro

[2020-06-16 22:13] xfate123 commented on #93
@merlintang  @terrytangyuan

[2020-06-16 22:32] merlintang commented on #92
we need to update the example to v1

[2020-06-16 22:33] merlintang commented on #83
@Jeffwan can you update the example as well?

[2020-06-17 00:26] Jeffwan commented on #83
@merlintang Yep. I should be able to clean up everything by end of week.

[2020-06-18 06:10] pingsutw commented on #89
@terrytangyuan Could we close it?
I don't know how to close it. I don't see the close button in Github

[2020-06-18 08:21] #89 closed

[2020-06-21 12:12] pingsutw commented on #42
I think it' related to https://github.com/kubeflow/pipelines/issues/973

[2020-06-23 08:07] Mesilenceki opened #94 "why the name of xgboost-operator’s group is "xgboostjob.kubeflow.org""
Since both pytorch-operator and tf-operator’s group name are "kubeflow.org", shouldn’t xgboost-operator keep consistent with them? Appreciate any reply, thanks a lot. @terrytangyuan

[2020-06-23 08:16] Mesilenceki commented on #94
Urgent case, appreciate for your response ASAP.@terrytangyuan

[2020-06-23 13:18] terrytangyuan commented on #94
Good catch. I am fixing it in https://github.com/kubeflow/xgboost-operator/pull/95

[2020-06-23 16:33] #94 closed

[2020-06-24 17:24] HassanOuda commented on #93
Im getting the same issue, any ideas @merlintang @terrytangyuan ?

[2020-06-24 17:35] terrytangyuan commented on #93
Seems like the issue might be that `/root/manager` was not built successfully or not copied successfully to the next phase https://github.com/kubeflow/xgboost-operator/blob/78f8cf50bb943247e038a8feb5a9f7e47d810d65/Dockerfile#L19. Are you able to build the Docker image successfully?

[2020-06-24 17:46] xfate123 commented on #93
@terrytangyuan I tried to use docker to build the image, but the same problem appear.
I build by using our latest image in our repository by pull and start command.
Still not sure is this issue due to my environment setup or xgboost-operator image.
Cause I don't have this issue before

[2020-06-24 19:30] HassanOuda commented on #93
Can you show how I can deploy xgboost operator via building docker image and running it vs using the kustomize manifests as shown in the official readme? I'm also getting the same error. I'm deploying it alongside my kubeflow environment in vanilla k8s.

[2020-06-25 00:46] Jeffwan commented on #92
crds have been updated to v1. #96
I will update examples in a separate PR. I need to run some tests

[2020-06-25 00:47] Jeffwan commented on #83
#96 fixed manifest generation and out outdated crds issue.

[2020-06-25 19:30] merlintang commented on #93
@xfate123 can you check the updated version work or not ?

[2020-06-25 19:32] xfate123 commented on #93
@merlintang  sure,my pleasure

[2020-07-02 12:19] velascoluis opened #98 "Can the train code be develop in R?"
Hi, im wondering if we can package and submit R code to the operator?

[2020-07-02 12:38] terrytangyuan commented on #98
Yes but you'll need to write the data-worker distribution logic yourself. Another route is that you can use the [reticulate](https://github.com/rstudio/reticulate) package that we developed earlier to mix R+Python code and then use xgboost-operator for the execution of workloads.

[2020-07-02 12:42] velascoluis commented on #98
Thanks Yuan, very interesting!

[2020-07-02 12:42] #98 closed

[2020-07-20 16:39] trieuat opened #99 "fail to install xgboost-operator"
I try to install the xgboost operator following the instructions (kustomize build base | kubectl apply -f -). However, the container failed to start with the error ("no matches for kind \"XGBoostJob\" in version \"xgboostjob.kubeflow.org/v1alpha1\") as below. I would greatly appreciate if you could give some insights on how to fix it. I can see the CRD xgboostjob**s**.kubeflow.org in my CRD list.

[2020-07-20 21:53] merlintang commented on #99
@Jeffwan does this related to the update to v1. I do not see this error before.

[2020-07-28 14:50] trieuat commented on #99
@merlintang do you have any suggestions on how to fix it? I can spend time to look into it but I am new to operators.

[2020-08-04 01:11] Jeffwan commented on #99
/cc @Jeffwan

Checking

[2020-08-05 06:25] Jeffwan commented on #99
@trieuat

I don't have any issues install it.

[code]

You are not supposed to see v1alpha1. I think @terrytangyuan has updated controller to v1 and give v1 CRD in kubeflow/manifests.

Could you give more details on your CRD version and controller image tag?

@merlintang I don't see this issue if I follow readme. It's probably user uses mismatched controller and CRD (for example, didn't clean up r

[2020-08-05 06:52] Jeffwan commented on #99
https://github.com/kubeflow/manifests/commit/e15922e4c63fb17f745c3979a63ef8eb82e12c19

I think we changed group in this PR.
https://github.com/kubeflow/manifests/commit/e15922e4c63fb17f745c3979a63ef8eb82e12c19

However, V1 CRD still use it. I think we can make v1 work first and then regenerate manifest with `kubeflow.org` as group later.

[2020-08-05 12:54] terrytangyuan commented on #99
@Jeffwan Thanks for looking into this. @trieuat Please try what @Jeffwan mentioned above and let us know if you are still having issues.

[2020-10-06 22:42] ykale opened #101 "Rank allocation to -1 when the underlying node is not ready"
Rank allocation to -1 when the underlying node is not ready

Typically when running the xgboost operator in autoscale mode and more nodes are required,  the operator allocates a negative rank to the pods instead of waiting till some threshold time and fails. This is observed in Azure Kubernetes Service.

[2020-10-07 01:45] merlintang commented on #101
this is a good point, can you send a PR to fix this ?

[2020-10-22 21:19] Jeffwan opened #104 "Add E2E jobs against AWS CI"
Community is asking different WG to own their infra and community won't provide a common shared testing infra anymore. Sees kubeflow/testing#752 for more details.

Pytorch migration works well and here's the PR to update test case to work on AWS Prow+ Argo cluster.
kubeflow/pytorch-operator#305

Xgboost presubmit is a little bit different from tensorflow and pyTorch, it only builds the image and d

[2020-11-16 03:00] andong0323 opened #105 "How should we format data when doing ranking task, like pointwise or pairwise?"
Now we're using kubeflow xgboost-operator when doing ranking task. I launch an issue here:https://discuss.xgboost.ai/t/should-we-pre-split-dataset-into-small-dataset-when-using-distributed-xgboost/1941.
We want to know the specific data split logic. Should we just obey the distributed xgboost ranking task file format when producing our train/eval/test dataset? https://xgboost.readthedocs.io/en/lat

[2020-11-18 07:18] wulikai1993 opened #106 "extract_xgbooost_cluster_env() and xgb.rabit.get_rank() get different rank number"
I ran distributed training on k8s.
The `rank` number was got by `extract_xgbooost_cluster_env()` as in https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/train.py#L29
However, `xgb.rabit.get_rank()` got another `rank` number as in https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/train.py#L57.
There are two things confusing me:
1

[2020-11-28 11:20] #105 closed

[2021-01-04 11:27] hamedhsn commented on #99
@Jeffwan @terrytangyuan I am trying to install the operator from the manifest and I am getting errors for v1.2.0 as well as master. any idea?
[code]
log:
[code]

[code]

[2021-01-09 14:05] souvik-deepsource commented on #99
@Jeffwan @terrytangyuan Experiencing the same errors as @hamedhsn.

[2021-01-28 05:09] Focke-Wulf commented on #92
any updated？ I also got this problem.

[2021-02-02 07:40] Focke-Wulf commented on #92
I also got this problem after I update CRD to v1
<img width="1105" alt="2021-01-28 1 33 16" src="https://user-images.githubusercontent.com/26343300/106567513-e9e67500-656c-11eb-8cc0-1a519236d1a2.png">

here is the error logs

[2021-02-04 07:01] hemantha-kumara opened #108 "Xgboost controller is going to CrashLoopBackOff when we create xgboostjobs.xgboostjob.kubeflow.org"
xgboost-operator-deployment is going for CrashLoopBackOff  when the controller is trying to create a pod
here is the log

[code]

[2021-02-04 09:06] hemantha-kumara commented on #92
any updates?

any updates?

[2021-02-07 02:42] Focke-Wulf commented on #108
I also have this problem

[2021-02-10 00:29] yanniszark opened #109 "XGBoost Operator: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-20 01:51] OyutianO commented on #108
me too

[2021-02-25 13:06] halftan opened #111 "BUG: wrong variable scope results in undefined pointer"
Hello,

I think I found the cause of issue #92.

https://github.com/kubeflow/xgboost-operator/blob/56c2c07525a826c285cf0efed99e636edddb676f/pkg/controller/v1/xgboostjob/xgboostjob_controller.go#L82-L115

In the code snippet mentioned above, `kcfg` is defined on line 82, assigned value on line 99, which is absolutely valid. However, it is initialized in a nested scope on line 103, which is a totall

[2021-03-01 05:55] asahalyft commented on #92
@terrytangyuan @merlintang I am facing the same set of problem as I try to incorporate the xgboost operator in our setup. Using the operator causes it to expect the CRD to be `v1` whereas the existing yaml is `v1alpha1`. But upgrading the CRD to `v1` causes thee `Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)

[2021-03-01 06:00] asahalyft commented on #111
@halftan @terrytangyuan Any plans to merge this and release?

@halftan are you able to run successfully xgboost crd `v1` with the latest operator? Do you have a xgboost `v1` compatible  example?

[2021-03-01 07:34] merlintang commented on #92
@Jeffwan hi，jeff, can you update this as well? thanks so much

[2021-03-01 09:57] halftan commented on #111
@asahalyft We're able to run xgboostjobs with this patch. Unfortunately I'm not able to share you the YAML manifests we're using, but I believe there are plenty on GitHub.

[2021-03-01 20:30] asahalyft commented on #111
@halftan I did not find plenty sample on Github in other repos. While there is one for lightgbm for v1 in the same repo https://github.com/kubeflow/xgboost-operator/tree/master/config/samples/lightgbm-dist - Is that close enough you think?

If you have found public examples with xgboost v1 could you please share.

And do you have a docker image for the operator with this patch baked in that I can

[2021-03-02 02:27] #109 closed

[2021-03-02 08:21] halftan commented on #111
@asahalyft unfortunately I'm not a user of this operator, so I know basically nothing about how to use the CRD. I was just troubleshooting this operator in the cluster I'm maintaining and fixed this bug.

[2021-03-03 04:55] asahalyft commented on #92
@merlintang @terrytangyuan Hello, I saw this fix https://github.com/kubeflow/xgboost-operator/pull/112 was merged. Is there any plan to publish the lates image to https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/xgboost-operator?gcrImageListsize=30 so that we can try out?

[2021-03-03 05:43] terrytangyuan commented on #92
I don't think we are still updating images there as the test infra has changed quite a bit.  For now you should be able to build the image yourself using this Dockerfile: https://github.com/kubeflow/xgboost-operator/blob/master/Dockerfile

[2021-03-16 20:43] asahalyft commented on #106
Exactly. I also see the same problem today.
[code]

@terrytangyuan if you could please comment.

[2021-03-16 20:46] asahalyft commented on #108
I have build a docker image based on the latest patch - you are welcome to try it if that helps you to test docker.io/anindyas/xgboost-operator:vmaster-edccbfefc

[2021-03-17 06:39] merlintang commented on #106
if you check the code, you can find the second rank is used only on the
worker node, this is used to decide the rabbit worker id.

On Wed, Mar 17, 2021 at 4:43 AM Anindya Saha ***@***.***>
wrote:

[2021-03-23 14:05] yanniszark opened #115 "Xgboost controller is going to error state due to wrong CRD file"
Original issue: https://github.com/kubeflow/manifests/issues/1728

Moving here as it's an issue with xgboost-operator manifests.

Copying what @hemantha-kumara said:

xgboost controller is failing with the below reason

[code]

manifest CRD(https://github.com/kubeflow/manifests/blob/master/xgboost-job/xgboost-operator/base/crd.yaml & https://github.com/kubeflow/manifests/blob/v1.2-branch/xgboost-j

[2021-03-23 14:05] yanniszark commented on #115
cc @kubeflow/wg-training-leads

[2021-03-23 14:05] yanniszark commented on #115
https://github.com/kubeflow/xgboost-operator/blob/master/manifests/base/kustomization.yaml

[code]

the above docker is having changes to work with xgboost crd version v1 but the crd present in the URL https://github.com/kubeflow/xgboost-operator/blob/master/manifests/base/crd.yaml is having v1alpha1

[2021-03-23 14:06] yanniszark commented on #115
Copying another comment from @hemantha-kumara:

Changing the docker version to gcr.io/kubeflow-images-public/xgboost-operator:v0.1.0 should solve the issue. But this is only a workaround not the fix for the issues present in the xgboost-operator repo
kubeflow/xgboost-operator#108
kubeflow/xgboost-operator#92

[2021-03-23 14:08] yanniszark commented on #115
Pinging OWNERS:
@terrytangyuan @richardsliu @merlintang @johnugeorge

How should this issue be resolved? Please advise.

[2021-03-23 14:11] yanniszark commented on #115
@hemantha-kumara maybe it makes sense to open a PR with your workaround?

[2021-03-23 14:55] hemantha-kumara commented on #115
Yes, till we fix and release the new docker image. changing back docker to the older version will unblock the xgboost operator issue.

[2021-03-24 00:32] Jeffwan commented on #115
When is the deadline? I think I can help fix this issue.

[2021-03-24 00:35] andreyvelich commented on #115
@Jeffwan Should be March 23rd. On the community meeting right now we should decide the date.

[2021-03-24 04:16] thesuperzapper commented on #115
To all watching, this is a blocking issue for Kubeflow 1.3.

In the community meeting we all committed to resolving it before end-of-day  __2021-03-24 [California time]__ (tomorrow), what needs to be done for a PR to get merged @yanniszark ?

I am happy to help, if needed.

[2021-03-24 17:35] Jeffwan commented on #115
I will file a PR by this afternoon

[2021-03-24 22:46] Jeffwan commented on #115
The major reason user see this failure is because we use v1alpha1 in past release 1.2. However, master has been changed to v1 at that time. CI triggers build and override image tag.

This can be easily changed to use new generated v1 crd. Waiting for PR #116 to be merged

[2021-03-24 23:04] Jeffwan commented on #108
sorry for late response. #116 resolves this issue

[2021-03-24 23:53] #115 closed

[2021-03-24 23:53] Jeffwan commented on #108
Please check latest crds and controllers

[2021-03-25 04:20] #108 closed

[2021-03-25 04:22] Jeffwan commented on #92
@merlintang I missed the message. this has been fixed in #116 and #118  and I build a new image which works with current manifest.

For people who has the issue, please use latest image and manifest

[2021-03-25 04:22] Jeffwan commented on #76
I change the model path to /tmp and it works. Close this issue

[2021-03-25 04:22] #76 closed

[2021-03-25 04:23] Jeffwan commented on #83
manifests are update to date. We migrate to v1 now. This issue can be closed

[2021-03-25 04:23] #83 closed

[2021-03-25 04:27] Jeffwan commented on #99
@souvik-deepsource  Please have a try with following commands.  This should be pretty stable now. Feel free to reopen the issue

[code]

[2021-03-25 04:27] #99 closed

[2021-03-25 04:48] Jeffwan commented on #92
I will close this since it's patched. Feel free to reopen if you still see problems

[2021-03-25 04:48] #92 closed

[2021-03-25 07:27] Jeffwan commented on #38
Same as #54 We can use that one to track this story

[2021-03-25 07:27] #38 closed

[2021-04-20 18:57] valiantljk opened #120 "json: unknown field "envs""
[code]

kubectl version
[code]

[2021-04-21 01:36] terrytangyuan commented on #120
Seems related to recent refactoring in manifests. @yanniszark Would you like to take a look?

[2021-07-02 06:26] daniel985 opened #121 "cannot work in namespace"
when we submit a Job and assign a namespace, it cannot work, and give some error message like this:
"
starting the train job
starting to extract system env
extract the Rabit env from cluster : xgboost-dist-iris-test-train-master-0, port: 9991, rank: 0, word_size: 3
start the master node
start listen on 0.0.0.0:9991
###### RabitTracker Setup Finished ######
##### Rabit rank setup with below envs ##

[2021-08-04 04:25] eunjilee commented on #121
My job doesn't work in namespace, too.

My error msg is like this:

`$ kubectl -n ranking logs lightgbm-dist-train-test-ej-master-0 -c xgboostjob`

[code]

Can I get some advice for this log?

[2021-08-04 22:41] merlintang commented on #121
this is not related to the operator, the network connection is related to the isolation of your network. you can ping the worker in your env before starting a new job.

[2021-08-09 04:43] 0as1s opened #123 "A potential refinement on document"
When I started to deploy xgboost-operator on my kubeflow cluster, I referred to https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/utils.py#L47 to implement my own version to read my own data. It's very common I follow this function to read parts of the whole data according to the rank manually.

However, I found that dmatrix already has an internal logic to only

[2021-08-19 09:41] SeibertronSS opened #124 "Does XGBoost-operator have a python client?"
Hello, everyone.
Does XGBoost-operator have a python client? Just like Pytorch-operator, can XGBoost-operator be run by pythonSDK?

[2021-08-19 10:25] terrytangyuan commented on #124
Not yet

[2021-09-17 07:28] hzy001 commented on #7
I have implemented [XGBoost Serving](https://github.com/iqiyi/xgboost-serving) that is a fork of TensorFlow Serving. It supports serving XGBoost models and XGBoost && FM models. You can read the README for more details and try it in a few minutes. If you encounter any problems, please submit an issue or email me directly.

[2021-09-17 16:39] merlintang commented on #7
hi, can you illustrate how to use xgboost operator to train a model, and deploy it to the xgboost server @hzy001 ?

thanks

Mingjie